extends layout

block content
    include header
    section
        p #{title}
        div(class='container')

            div(class='col-sm-6 col-sm-offset-3')
                h1
                span(class='fa fa-sign-in')

                form(action='/admin/addadmin' method='post')
                    div.form-group
                        label user email
                        input.form-control(type='email' class='form-control' name='email' required=true)

                    button(type='submit' class='btn btn-warning btn-lg') Add Admin