extends layout

block content
    include header
    section
        h3= title
        div(class='container')

            div(class='col-sm-6 col-sm-offset-3')
                h1
                span(class='fa fa-sign-in')

                form(action='/projects/addcollaborator' method='post')
                    if projectID
                        input(hidden=true name='projectid' value=projectID)
                    else
                        input(hidden=true name='projectid' value=project.id)
                    div.form-group
                        label Collaborator email
                        input.form-control(type='email' class='form-control' name='email' required=true)

                    button(type='submit' class='btn btn-warning btn-lg' onclick="sendAnalytics('addCollaborator', 'button', 'onclick')") Add participant