extends layout

block content
    include header
    section
        div(class='container')
            div(class='col-sm-6 col-sm-offset-3')
                if errors
                    if errors.length
                        each error in errors
                            div(class='alert alert-danger') #{error.msg}
                span(class='fa fa-sign-in')

                form(action='/admin/createuser' method='post')
                    div(class='form-group')
                        label FirstName
                        input(type='text' class='form-control' name='firstname' required=true id='firstName'
                        placeholder='Enter the user firstName')
                    div(class='form-group')
                        label LastName
                        input(type='text' class='form-control' name='lastname' required=true id='lastName'
                        placeholder='Enter the user lastName')
                    div(class='form-group')
                        label Email
                        input(type='email' class='form-control' name='email' required=true id='email'
                        aria-describedby='emailHelp' placeholder='Enter the user email')

                    button(type='submit' class='btn btn-warning btn-lg') Invite the user