extends layout

block content
    include header
    section
        h3= title
        div(class='container')
            div(class='col-sm-6 col-sm-offset-3')
                h1
                span(class='fa fa-sign-in')

                form(action='/reporting/createproject' method='post')
                    div.form-group
                        label Project Name
                        input(type='text' class='form-control' name='projectname' required=true)
                    div.form-group
                        label URl followed
                        input.form-control(type='text' class='form-control' name='urlfollowed')

                    button(type='submit' class='btn btn-warning btn-lg' onclick="sendAnalytics('createProject', 'button', 'onclick')") Create Project