extends layout

block content
    include header
    section
        p What do you want to customize?
        button(class='btn btn-warning btn-lg' onclick="sendAnalytics('clicktest', 'button', 'onclick')") Clickme
