header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bd-navbar
    a.navbar-brand.mr-0.mr-md-2.ap-link(href="/" aria-label="Bootstrap" onclick="sendAnalytics('index', 'headerlink', 'onclick')") Home
    div.navbar-nav-scroll
        ul.navbar-nav.bd-navbar-nav.flex-row
            if isAuthenticated
                li.nav-item
                    a.nav-link(href='/reporting' onclick="sendAnalytics('reporting', 'headerlink', 'onclick')") Reporting
            li.nav-item
                a.nav-link(href='/customization' onclick="sendAnalytics('customization', 'headerlink', 'onclick')") Customization
            if r
                //- console.log('r.user1: ' + r.user.accountlevel)
                if r.user.accountlevel === 'admin'
                    li.nav-item
                        a.nav-link(href='/admin') Admin
                    li.nav-item
                        a.nav-link(href='/admin/createuser') Create UserAccount
                if isAuthenticated
                    li.nav-item
                        a.nav-link(href='/sign/profile' onclick="sendAnalytics('profilePage', 'headerlink', 'onclick')") Profile

    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        if isAuthenticated
            li.nav-item
                a.nav-link(href='/sign/logout' onclick="sendAnalytics('logout', 'headerlink', 'onclick')") Logout
        else
            li.nav-item
                a.nav-link(href='/sign/signup' onclick="sendAnalytics('signupPage', 'headerlink', 'onclick')") Signup
            li.nav-item
                a.nav-link(href='/sign/login' onclick="sendAnalytics('loginPage', 'headerlink', 'onclick')") Login
        if r
            li.nav-tiem.float-right
                a.nav-link Welcome #{r.user.lastname}