extends layout

block content
    include header
    section
        if message
            h2= message
        h1= title

        if isAuthenticated
            if user
                if user.Projects
                    if user.Projects.length
                        p Here are your Projects:
                        ul
                            each project in user.Projects
                                li
                                    a(href='/projects/project/' + project.id) #{project.name}
                        section
                            h5#keys(style='display: none;') #{chartArray[0]}
                            h5#values(style='display: none;') #{chartArray[1]}
                            canvas#myChart(style="width: 40%; height: 40%;")

                            script chartBuilder()