extends layout

block content
    include header
    section
        h3= title
        h4= message
        div(class='container')
            div(class='col-sm-6 col-sm-offset-3')
                h1
                span(class='fa fa-sign-in')

                form(action='/sign/login' method='post')
                    div.form-group
                        label Email
                        input(type='mail' class='form-control' name='email' required=true)
                    div.form-group
                        label Password
                        input(type='password' class='form-control' name='password' required=true)

                    button(type='submit' class='btn btn-warning btn-lg' onclick="sendAnalytics('login', 'button', 'onclick')") Login

                br
                p Forgot your password?
                    br
                    a(href='/sign/forgotpass' onclick="sendAnalytics('forgotPassPage', 'button', 'onclick')") Reset your password
                p Don't have an account?
                    br
                    a(href='/sign/signup' onclick="sendAnalytics('signupPageFromLogin', 'button', 'onclick')") Signup
                    br
                    a(href='/') Or go to the home page.