extends layout

block content
    include header
    section
        h3= title
        h4= message
        div(class='container')
            div(class='col-sm-6 col-sm-offset-3')
                h1
                span(class='fa fa-sign-in')

                form(action='/sign/forgotpass' method='post')
                    div.form-group
                        label Email
                        input(type='mail' class='form-control' name='email' required=true)

                    button(type='submit' class='btn btn-warning btn-lg' onclick="sendAnalytics('resetPass', 'button', 'onclick')") Reset Password

                br

                p Remember your password?
                    br
                    a(href='/sign/login' onclick="sendAnalytics('LoginPageFromPassReset', 'button', 'onclick')") Login
                    br
                    a(href='/' onclick="sendAnalytics('indexFromForgotPass', 'button', 'onclick')") Or go to the home page.