extends layout


block content
    div#to-fix-at-top
        a.btn.btn-primary(onclick="sendAnalytics('allstats', 'button', 'onclick')"
        href='/projects/project/statsordered/' + project.id + '/lasts/' + project.track) All
        a.btn.btn-primary.margined-left(onclick="sendAnalytics('todayStats', 'button', 'onclick')"
        href='/projects/project/statsordered/' + project.id + '/today/' + project.track) Today
        a.btn.btn-primary.margined-left(onclick="sendAnalytics('weekStats', 'button', 'onclick')"
        href='/projects/project/statsordered/' + project.id + '/week/' + project.track) This Week
        a.btn.btn-primary.margined-left(onclick="sendAnalytics('monthStats', 'button', 'onclick')"
        href='/projects/project/statsordered/' + project.id + '/month/' + project.track) This Month
        if project.by
            a.btn.btn-success.margined-left(onclick="sendAnalytics('enventnamestat', 'button', 'onclick')"
            href='/projects/project/statsordered/' + project.id + '/' + project.by + '/eventname') Event Name
            a.btn.btn-success.margined-left(onclick="sendAnalytics('categorystats', 'button', 'onclick')"
            href='/projects/project/statsordered/' + project.id + '/' + project.by + '/category') Category
            a.btn.btn-success.margined-left(onclick="sendAnalytics('actionstats', 'button', 'onclick')"
            href='/projects/project/statsordered/' + project.id + '/' + project.by + '/action') Action


    section
        h5#keys(style='display: none;') #{chartArray[0]}
        h5#values(style='display: none;') #{chartArray[1]}
        canvas#myChart(style="width: 40%; height: 40%;")

        script chartBuilder()

        //p There is #{project.stats.length} Stats:
        //    ul
        //        each stat in project.stats
        //            li <b>#{stat.eventname}</b>
        //                i &nbsp;&nbsp;&nbsp;#{(stat.action).toString()}
        //                i &nbsp;&nbsp;&nbsp;#{(stat.createdAt).toString().split(' GMT')[0]}