extends layout

block content
    include header
    section
        h1= title
        p Welcome to your #{title}
        div(class='container')
            h1
            span(class='fa fa-anchor') Profile Page

            if r
                div(class='row')
                    div(class='col-sm-6')
                        div(class='well')
                            p
                            strong lastname: #{r.user.lastname}
                            br
                            strong firstname: #{r.user.firstname}
                            br
                            strong email: #{r.user.email}

        br
        button(class='btn btn-info' id='dlData') Download your personal data
        button(class='btn btn-danger btn-lg' id='deleteData') Delete your personnal data

        script document.getElementById("deleteData").onclick = function () {location.href = '/users/deleteData';};
        script document.getElementById("dlData").onclick = function () {location.href = '/users/downloadData';};