extends layout

block content
    include header
    section
        p #{title} of
        h1 #{project.name}
        if project.Users.length
            p Collaborators :
                ul
                    each u in project.Users
                        if u.accountlevel !== "admin"
                            li #{u.firstname} #{u.lastname}
        else
            p No collaborator

        p Do you want a stat in particular?
            a(href='/projects/project/trackspecificstat/'+project.id+'/action/onclick/month') Click Here
        p Do you want to add a new collaborator to this project?
            a(href='/projects/addcollaborator/'+project.id onclick="sendAnalytics('AddCollaboratorFromProjectPage', 'button', 'onclick')") Click Here

        iframe#iframe-stats(src='/projects/project/statsordered/'+project.id+'/lasts/eventname' onload='iframeSize()')
