extends layout

block content
    include header
    section
        p #{title}

        if user.Projects.length
            p Here are your Projects:
            ul
                each project in user.Projects
                    li
                        a(href='/projects/project/' + project.id) #{project.name}
        if user.Projects.length && user.Participations.length
            hr
        if user.Participations.length
            p Here are projects you belongs to:
                ul
                    each project in user.Participations
                        li
                            a(href='/projects/project/' + project.id) #{project.name}
        if !user.Projects.length && !user.Participations.length
            p You don't have any project active at this moment


        p Do you want to create a new project?
        a(href='/reporting/createProject' onclick="sendAnalytics('createProjectFromReporting', 'button', 'onclick')") Click Here