extends layout

block content
    include header
    section
        h3= title
        h4= message
        div(class='container')
            div(class='col-sm-6 col-sm-offset-3')
                h1
                span(class='fa fa-sign-in')

                form(action='/sign/resetpass' method='post')
                    input(type='hidden' name='tok' value=tok)
                    div(class='form-group')
                        label Password
                        input(type='password' class='form-control' name='password' required=true id='password'
                        placeholder='Enter your new password')
                    div(class='form-group')
                        label Re-enter Password
                        input(type='password' class='form-control' name='password2' required=true id='password2'
                        placeholder='Enter your new password again')

                    button(type='submit' class='btn btn-warning btn-lg' onclick="sendAnalytics('resetPass', 'button', 'onclick')") Submit new password

                br

                p Remember your password?
                    br
                    a(href='/sign/login' onclick="sendAnalytics('loginPageFromResetPass', 'button', 'onclick')") Login
                    br
                    a(href='/' onclick="sendAnalytics('indexFromResetPass', 'button', 'onclick')") Or go to the home page.