extends layout

block content
    include header
    section
        h1= title
        div(class='container')
            div(class='col-sm-6 col-sm-offset-3')
                if errors
                    if errors.length
                        each error in errors
                            div(class='alert alert-danger') #{error.msg}
                span(class='fa fa-sign-in')

                form(action='/sign/signup' method='post')
                    div(class='form-group')
                        label FirstName
                        input(type='text' class='form-control' name='firstname' required=true id='firstName'
                        placeholder='Enter your firstName')
                    div(class='form-group')
                        label LastName
                        input(type='text' class='form-control' name='lastname' required=true id='lastName'
                        placeholder='Enter your lastName')
                    div(class='form-group')
                        label Email
                        input(type='email' class='form-control' name='email' required=true id='email'
                        aria-describedby='emailHelp' placeholder='Enter your email')
                    div(class='form-group')
                        label Password
                        input(type='password' class='form-control' name='password' required=true id='password'
                        placeholder='Enter your password')
                    div(class='form-group')
                        label Re-enter Password
                        input(type='password' class='form-control' name='password2' required=true id='password2'
                        placeholder='Enter your password again')

                    button.btn.btn-warning(type='button' data-toggle='modal' data-target='#modalUserCode') Terms of Use
                    .modal.fade(id='modalUserCode' tabindex='-1' role='dialog' aria-labelledby='labelModalTests' aria-hidden=true)
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    h4.modal-title(id='labelModalUserCode') Terms of Use
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden=true) &times;
                                .modal-body
                                    .row
                                        .col-xs-12.col
                                            p By clicking on the signin button you accept that Project Analytics use your cookies and personal data, only for the proper functioning of the site.
                                            p Your personal data can be used to link your email to a project when you create one or when you are added to an existing one.
                                            p You can later delete all your personal data in your profile page.
                                .modal-footer
                                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    div(class='form-group')
                        label I have read and accepted the Terms of Use
                        input(type='checkbox' class='form-control' required)
                    br
                    br
                    button(type='submit' class='btn btn-warning btn-lg' onclick="sendAnalytics('sign', 'button', 'onclick')") Signin

                p Already have an account?
                a(href='/sign/login' onclick="sendAnalytics('profileClick', 'loginPageFromSign', 'onclick')") Login
                br
                a(href='/' onclick="sendAnalytics('indexFromSign', 'button', 'onclick')") Or go to the home page.