extends layout


block content
    include header
    h1= title
    if catName && catDate
        h2= "Number of "+catName+" for this "+catDate+""
    section
        select(id="date") date
            option(name="day") day
            option(name="month") month
            option(name="year") year
        select(id="first" onchange="ch()")
            option(name="eventName") eventName
            option(name="category") category
            option(name="action") action
        select(id="second" onchange="hselect("+project.id+", 'first', 'second', 'date', 'link')")
            option(name="logout") logout
            option(name="index") index
            option(name="signup") signup

        a#link(href='') Reload graph values
        script(onload="hselect("+project.id+", 'first', 'second', 'date', 'link')")

    </select>
    if chartArray
        if chartArray.length !== 0
            h5#keys(style='display: none;') #{chartArray[0]}
            h5#values(style='display: none;') #{chartArray[1]}
            canvas#myChart(style="width: 40%; height: 40%;")

            script chartBuilder()