header {
    position: relative;
    background-color: black;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

section {
    padding: 50px;
}

a {
  color: #00B7FF;
}

#iframe-stats {
    width: 100%;
    height: 300px;
    border: 0;
}

.margined-left {
    margin-left: 5px;
}

#to-fix-at-top {
    position: fixed;
    width: 100%;
    background-color: white;
    /*box-shadow: 0 5px 5px black;*/
}